

.Comment {
  padding-left: 10px;
  padding-right: 10px;
  margin: 25px 10px 0px 10px;
  border: 1px solid #3e3f3a;
  border-radius: 5px;
}

.Comment hr {
  margin-top: 40px;
  margin-bottom: 20px;
}

.CommentText {
  margin-top: 10px;
  text-align: left;
  word-wrap: break-word;
}

.CommentInfo {
  text-align: right;
  float: right;
  right: 10px;
  font-size: 80%;
  color: gray;
  margin-top: -5px;
}

.CommentFooter {
  height: 20px;
}

div.dv-star-rating.dv-star-rating-non-editable {
  margin-top: -20px;
}

/*.dv-star-rating-non-editable {
  float: left;
  display: inline !important;
  left: 10px;
}

@media screen and (min-width: 768px) {
    .Comment {
        max-width: 50%;
    }
}*/
