form {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.StarComponent {
  margin: auto;
  width: 100%;
  padding: 10px 0 0 0;
}

i {
  font-size: 20pt;
}

.CommentButton {
  float: right;;
}

@media (min-width: 768px) {
  form {
    width: 720px;
  }
}

@media (min-width: 992px) {
  form {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  form {
    width: 1140px;
  }
}
