.logo{
    width : 150px;
    height : 50px;
    margin-top: 10px;
    margin-left: 5px;
}

.navbar{
  height: 70px;
  border-radius: 0;
  background-color: #F57C00;
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ContentNavbar {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .ContentNavbar {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .ContentNavbar {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .ContentNavbar {
    width: 1170px;
  }
}
