.FilterContainer {
  display: flex;
  justify-content: flex-start;
}

.FilterItem {
  width: 300px;
}

.OpenImage {
  width: 30px;
  margin-left: 7px;
}

.FilterButton {
  background: transparent;
  border: none;
  color: #3e3f3a;
}

.FilterList {
  list-style-type: none;
  height: 250px;
}

.SmileImageFilter {
  width: 30px;
  margin-left: 5px;
  margin-top: -10px;
  padding-left: 5px;
}

div.FilterRating {
  padding-left: 5px;
  margin-top: -10px;
}

.FilterRating .dv-star-rating-star{
  padding: 0 5px 0 0  !important;
  margin: -35px 0 0 0 !important;
}

.checkbox label .regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
  /*cacece*/
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbox label .regular-checkbox:active, .checkbox label  .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox label .regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox label .regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
