
.detailinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detailaddress {
  margin-left: 50px;
}


.detailaddress img {
  margin-top: 10px;
  margin-bottom: 30px;
}

.detailaddress p {
  margin-left: 5px;
  margin-top: -10px;
}
