.ContentNavbar button {
  height: 50px;
  margin-top: 10px;
  background-color: #3b5998;
  border: None;
  border-radius: 7px;
  color: white;
  font-weight: bold;
}


.fbUser {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fbUser a {
  color: white;
  font-size: 100%;
  padding-right: 10px;
  font-size: 110%;
}

.fbUser img {
  border-radius: 5px;
}
