body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 768px) {
  .Content {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .Content {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .Content {
    width: 1170px;
  }
}
