.ResturantContent {
  padding-left: 10px;
  padding-right: 10px;
}

#SearchLabel {
  text-align: left;
  font-size: 17pt;
}

.ResturantRow {
  height: 60px;
  border-bottom: 1px dotted #ddd;
}

.SortButton {
  background: transparent;
  border: none;
  color: #3e3f3a;
}

.clickable:hover{
  cursor: pointer;
  text-decoration: underline;
}

.ResturantHeader {
  font-size: 22pt;
}

.ResturantHeader {
  font-size: 17pt;
  text-align: center;
}

.NameFont {
  font-size: 12pt;
  text-align: left;
}

.ResturantSmile {
  width: 100px;
  text-align: center;
  font-size: 17pt;
}

.SmileImage {
  width: 50px;
}

.ResturantRating {
  text-align: center;
  font-size: 17pt;
}

.ResturantRating .dv-star-rating{
  margin-top: 8px !important;
}

.RatingImage {
  height: 40px;
}

@media (min-width: 768px) {
  .ResturantContent {
    width: 720px;
  }
  #SearchLabel {
    font-size: 20pt;
  }
  .ResturantHeader {
    font-size: 20pt;
  }
  .ResturantName {
    width: 330px;
  }
  .ResturantSmile {
    width: 150px;
  }
  .ResturantRating {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .ResturantContent {
    width: 940px;
  }
  #SearchLabel {
    font-size: 22pt;
  }
  .ResturantHeader {
    font-size: 22pt;
  }
  .ResturantName {
    width: 450px
  }
  .NameFont {
    font-size: 15pt;
  }
  .ResturantSmile {
    width: 230px;
  }
  .ResturantRating {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  .ResturantContent {
    width: 1140px;
  }
  #SearchLabel {
    font-size: 24pt;
  }
  .ResturantHeader {
    font-size: 24pt;
  }
  .ResturantName {
    width: 500px;
  }
  .NameFont {
    font-size: 15pt;
  }
  .ResturantSmile {
    width: 280px;
  }
  .ResturantRating {
    width: 300px;
  }
}
